.app-container {
  display: flex;
}

.content{
  width: 100%;
}

.sidebar{
  min-height: 800px;
}



.hashtag{
 
 margin-right: 5px;
 padding: 5px;

}

.hashtag-Container{
  margin-top: 25px;
  margin-bottom: 25px;
}
